/* Sidebar drawer */
.sidebar {
    position: fixed;
    top: 0;
    right: -250px;
    width: 250px;
    height: 100vh;
    background-color: #f7f8f8;
    color: rgb(27, 26, 26);
    padding: 1.0rem 0.0rem;
    transition: right 0.3s ease-in-out;
    z-index: 1000;
  }
  
  .sidebar.open {
    right: 0;
  }
  
  .sidebar-nav {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .nav-links-container{
    display: flex;
  }
  .sidebar-nav a {
    color: #0e0d0d;
    padding: 3%;
    width: 100%;
    text-decoration: none;
    border-bottom: 1px solid #2c2b2b;
    font-size: 1.2rem;
    transition: color 0.3s;
  }
  
  .nav-links-container a:hover {
    color: #1b81c6;
  }

  .sidebar-footer {
    margin-top: auto;
    padding-top: 1rem;
    
  }
  
  .sidebar-logo {
    font-weight: bold;
    text-align: center;
    border-bottom: 1px solid #240202;
    font-size: 1.4rem;
    color: #131a23;
    margin-top: 15.5rem;
    margin-bottom: 1.5rem;
  }
  
  .sidebar-socials {
    display: flex;
    gap: 1.7rem;
  }
  .sidebar-socials a {
    color: #1b81c6;
    font-size: 1.2rem;
    transition: color 0.3s;
  }
  
  .sidebar-socials a:hover {
    color: #155c8e;
  }
  
  /* Backdrop */
  .sidebar-backdrop {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s;
    z-index: 999;
  }
  
  .sidebar-backdrop.show {
    opacity: 1;
    visibility: visible;
  }
  