.cta-section {
    position: relative;
    background-size: cover;
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  @media screen and (width > 600px) {
    .cta-section{
        max-width: 75%;
        margin-left: 12%;
    }
  }
  
  .cta-overlay {
    background-color: rgba(0, 0, 0, 0.6); /* dark overlay */
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .cta-content {
    color: #fff;
    text-align: center;
    padding: 1rem 2rem;
  }
  
  .cta-content h2 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .cta-content p {
    font-size: 1rem;
    margin-bottom: 1.2rem;
  }
  
  .cta-btn {
    background-color: #1b81c6;
    border: none;
    text-decoration: none;
    padding: 0.8rem 1.5rem;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    border-radius: 4px;
    transition: background 0.3s ease;
  }
  .cta-btn-link{
    text-decoration: none;
    color: #000;
  }
  
  .cta-btn:hover {
    background-color: #1b81c6af;
  }  